Patricia/config.py
Patricia/*.session
Patricia/*.session-journal
Patricia/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Patricia/modules/helper_funcs/temp.txt
Patricia/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe
